---
import "../styles/globals.css";

type Props = {
  title?: string;
};

const { title = "Emyn & Cristian" } = Astro.props;
---

<!doctype html>
<html lang="es" class="h-full antialiased">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{title}</title>
  </head>
  <body class="min-h-full flex flex-col">
    <slot />
  </body>
</html>
